<div class="field-group">
    <div class='fb-edit-section-header'>Nosaukums</div>
    <input type='text' data-rv-input='model.<%= Formbuilder.options.mappings.LABEL %>' />
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.HIDE_LABEL %>' style="width: auto;" /> Nerādīt nosaukumu<br />
    <textarea data-rv-input='model.<%= Formbuilder.options.mappings.DESCRIPTION %>' placeholder='Pievienot detelizētāku aprakstu'></textarea>
    <br /><br />
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.DISABLED %>' style="width: auto;" /> Nav rediģējams<br />
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INTEGER %>' style="width: auto;" /> Naturāls skaitlis<br />
</div>