/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea/*
/node_modules
/bower_components
/nbproject/*
/app/storage/twig/*
app/config/packages/atrauzzi/laravel-doctrine/local/*
app/storage/client_block_attachments/*
app/storage/debugbar/.gitignore
/app/storage/*
!/app/storage/import
!/app/storage/apk-docs
/app/storage/apk-docs/*
!/app/storage/apk-docs/archive
app/config/git.php