<div class="table-bordered">
    <table class="table table-striped table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Nosaukums</th>
                <th>Komersants</th>
                <th>Statuss</th>
                <th>Datums</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td>Forma Nr.1</td>
                <td>SIA Ūdens</td>
                <td>Iesniegts</td>
                <td>05.06.2014</td>
            </tr>
            <tr class="even">
                <td>Forma Nr.1</td>
                <td>SIA Ūdens</td>
                <td>Iesniegts</td>
                <td>05.06.2014</td>
            </tr>
            <tr class="odd">
                <td>Forma Nr.1</td>
                <td>SIA Ūdens</td>
                <td>Iesniegts</td>
                <td>05.06.2014</td>
            </tr>
            <tr class="even">
                <td>Forma Nr.1</td>
                <td>SIA Ūdens</td>
                <td>Iesniegts</td>
                <td>05.06.2014</td>
            </tr>
            <tr class="odd">
                <td>Forma Nr.1</td>
                <td>SIA Ūdens</td>
                <td>Iesniegts</td>
                <td>05.06.2014</td>
            </tr>

        </tbody>
    </table>
</div>
<ul class="pagination pull-right">
<li><a href="#">&laquo;</a></li>
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">&raquo;</a></li>
</ul>

<!--

<tr class="overdue unread">

    <td class="date text-center">
        <div>14.12.13</div>
        <div class="glyphicon glyphicon-time"></div>
    </td>

    <td class="content">
        <div class="title"><a href="aktivitate.html">Preses relīze</a></div>
        <div class="meta">
            <span>Projekts "Starptautiskais elektroenerģijas forums"</span>
            <a href="klients.html">Klients: "Inter"</a>
            <span>Atbildīgā persona: Jānis Bērziņš</span>
        </div>
    </td>

    <td class="status text-right bottom">
        <span class="label label-upper">nelasīts</span>
        <div class="glyphicon"></div>
        <div class="glyphicon glyphicon-circle status-danger" data-toggle="popover" data-content="Nepieciešams politisks lēmums"></div>
    </td>

</tr>


<tr class="overdue-soon">

    <td class="date text-center">
        <div>14.12.13</div>
        <div class="glyphicon glyphicon-time"></div>
    </td>

    <td class="content">
        <div class="title"><a href="aktivitate.html">Izdevumu tāmes izgatavošana / saskaņošana</a></div>
        <div class="meta">
            <span>Projekts "Starptautiskais elektroenerģijas forums"</span>
            <a href="klients.html">Klients: "Reno"</a>
            <span>Autors: Jānis Bērziņš</span>
        </div>
    </td>

    <td class="status text-right bottom">
        <span class="label label-upper">lasīts</span>
        <div class="glyphicon glyphicon-user status-danger" data-toggle="popover" data-content="Informācija pieejama tikai vadītājiem"></div>
        <div class="glyphicon glyphicon-circle status-success" data-toggle="popover" data-content="ok"></div>
    </td>

</tr>

<tr>

    <td class="date text-center">
        <div>14.12.13</div>
    </td>

    <td class="content">
        <div class="title"><a href="aktivitate.html">Biznesa partneru atlase</a></div>
        <div class="meta">
            <span>Projekts "Starptautiskais elektroenerģijas forums"</span>
            <a href="klients.html">Klients: "Antro"</a>
            <span>Autors: Jānis Bērziņš</span>
        </div>
    </td>

    <td class="status text-right bottom">
        <span class="label label-upper">lasīts</span>
        <div class="glyphicon glyphicon-user status-danger" data-toggle="popover" data-content="Informācija pieejama tikai vadītājiem"></div>
        <div class="glyphicon glyphicon-circle status-success" data-toggle="popover" data-content="ok"></div>
    </td>

</tr>
-->
