<div class="table-bordered">
    <table class="table table-striped table-borderless table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Nosaukums</th>
                <th>Termiņš</th>
                <th>Kontakti</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td>Forma Nr.7</td>
                <td>05.07.2014</td>
                <td>Regulators1</td>
            </tr>
            <tr class="even">
                <td>Forma Nr.8</td>
                <td>05.07.2014</td>
                <td>Regulators2</td>
            </tr>
            <tr class="odd">
                <td>Forma Nr.9</td>
                <td>08.07.2014</td>
                <td>Regulators3</td>
            </tr>
            <tr class="even">
                <td>Forma Nr.10</td>
                <td>11.07.2014</td>
                <td>Regulators4</td>
            </tr>
        </tbody>
    </table>
</div>
<ul class="pagination pull-right">
<li><a href="#">&laquo;</a></li>
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">&raquo;</a></li>
</ul>