<!DOCTYPE html>
<html>
<head>
    <title>Regulatora IIAS</title>
    <meta charset="utf-8">
    {{ css(asset_timed('assets/stylesheets/frontend.css'))|raw }}
</head>
<body>
<div id="wrapper">
    {% block content %}{% endblock %}
</div>
</body>
</html>